[user]
    name = Antoine Veuiller
    email = aveuiller@online.net
    #email = aveuiller@gmail.com
[push]
	default = simple
[core]
    editor = vi
	excludesfile = ~/.gitignore_global
[credential]
	helper = store
[pull]
	rebase = true
